html{
    background: url(images/image1.PNG) no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height : 100%
}

.body{
    height : 100%;
    width : 100%;
}
.key {
   
    font-size: 2em;
    justify-content : center;
    margin: auto;
}

.node{
    font-size:  0.75em;
    margin: auto;
    color: #2000ff;
}

.block{
    border: 1px solid black;
    width : 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    margin : 0.5em;
    
}
.parent-block{
    display: flex;    
    justify-content: center;
    margin-top: 10em;
}

.clicked{
    border: 5px solid  yellowgreen;
}